@{
    ViewBag.Title = "Home";
}
@model ICollection<Tech_Shop.DB.Product>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.cookie.js"></script>

<body  style="
    background-color:aqua;
background:url(/Resources/Tech.png);
background-size:75%;
 ">
</body>

<br />
<br />
<br />
<br />
<br />
<br />

<div class="container" style="background-color:aliceblue; text-align:center; border-radius:100px;">
    <br />
    <h1 style="font:bold 60px arial;">Welcome to <b>Tech-Shop</b></h1>
    <p style="font:20px arial;">Shop newest amazing computers,laptops,smarthphones and even tablet-laptops!
    <br />
    Shoping is very simple and you <b>don't have to register</b> !</p>
 
    <a href="/Shop" class="btn btn-info" role="button" style="border-radius:25px; font:bold 20px arial;"><b>START SHOP</b></a>
    <br />
</div>




<link href="~/Content/HomePage.css" rel="stylesheet" />