
@{
    ViewBag.Title = "SearchNoResults";
}
@model string

<body style="
    background-color:aqua;
background:url(../Resources/Shop.jpg);
background-size:100%;">


    <h1 style="color:white;">No searching results about "<b>@ViewBag.Searched</b>".</h1>


</body>