@model Tech_Shop.Models.PurchaseData

@{
    ViewBag.Title = "Purchase";
}


<body style="
    background-color:aqua;
background:url(/Resources/Shop.jpg);
background-size:100%;">

    <h1 style="color:white;">Order data</h1> 
    <label class="text-danger">@ViewBag.InputError</label>

    @using (Html.BeginForm("PurchaseFinish", "Shop", FormMethod.Post, new { @id ="OrderDataForm" , onsubmit = "return  Validation();" }))
    {
        <div class="form-group" >
 
                <div class="form-group">
                    <label class="dataname">Name</label>
                    <label style="visibility:hidden;" id="nameValidation" class="text-danger"></label>
                    <input type="text" placeholder="First Name & Last Name" class="form-control input-lg" id="fullName" name="fullName">

                </div>

                <div class="form-group">
                    <label class="dataname">Phone</label>
                    <label style="visibility:hidden;" id="phoneValidation" class="text-danger"></label>
                    <input type="text"  placeholder="08XXXXXXXX" class="form-control input-lg" id="mobilePhone" name="mobilePhone">
                </div>

                <div class="form-group">
                    <label class="dataname">City</label>
                    <input type="text"  placeholder="Sofia" class="form-control input-lg" id="city" name="city">
                </div>

                <div class="form-group">
                    <label class="dataname">Adress</label>
                    <input type="text"  placeholder="ul. Hristo Botev 63" class="form-control input-lg" id="adress" name="adress">
                    <label class="text-info">You can enter <b>EKONT</b> or <b>SPEEDY</b> office !</label>                   
                </div>

            <button type="submit"  id="Purchase_Finish_btn" class="btn btn-primary">Purchase</button>

        </div>
    }

        

</body>
<link href="~/Content/Purchase.css" rel="stylesheet" />
<script src="~/Scripts/PurchaseDataValidation.js"></script>