
@{
    ViewBag.Title = "ShopCart";
}
@model ICollection<Tech_Shop.DB.Product> 

<body style="
    background-color:aqua;
background:url(Resources/Shop.jpg);
background-size:100%;">

 
    <br />
    <br />
   

    <h1 style="color:white;">
        Currently your shop cart is <b>empty</b>.
    </h1>
 <p style="font:35px arial;color:white;">
    Go <a href="/Shop"><b>shop</b></a> now !
    
    </p>

</body>

